@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Regular.woff') format('ttf'), url('fonts/Gilroy-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Semibold.woff') format('ttf'), url('fonts/Gilroy-Semibold.woff2') format('woff2');
  font-weight: 600;
}

* {
  font-family: 'Gilroy', sans-serif;
  margin: 0; padding: 0;
  color: #232323;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  transition: all .3s linear;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 30px;
  height: 50px;
  line-height: 50px;
  background: #CDA274;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.01em;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
}

.row {
  width: 100%;
  max-width: 1440px;
  padding: 0 35px;
  margin: 0 auto;
}

.raznica {
  margin: 80px 0 60px;
  display: grid;
  grid-template-columns: 8fr 7fr;
  column-gap: 80px;

  &__left {
    display: flex;
    justify-content: flex-end;
    position: relative;
    &-bl {
      position: absolute;
      left: 0;
      bottom: 30px;
      padding: 27px 20px;
      width: 240px;
      background-color: #232323;
      img {
        width: 45px;
        margin-bottom: 15px;
      }
      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #FFFFFF;
      }
      span {
        display: block;
        font-weight: 600;
        font-size: 36px;
        line-height: 150%;
        color: #CDA274;
      }
    }
  }

  &__right {
    padding-top: 15px;
  }
  &__subtitle {
    position: relative;
    margin-bottom: 25px;
    padding-left: 65px;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-transform: lowercase;
    color: #CDA274;
    &::before {
      position: absolute;
      content: '';
      width: 50px;
      height: 1px;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      background-color: #CDA274;
    }
  }
  &__title {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    text-transform: lowercase;
  }
  &__text {
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      &:not(:last-child) {
        margin-bottom: 25px;
      }
      &:last-child {
        margin-bottom: 16px;
      }
    }
  }
  ul {
    margin-bottom: 26px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 80px;
  }
  li {
    padding-left: 16px;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    span {
      font-weight: 600;
      color: #CDA274;
    }
    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 6px;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background-color: #232323;
      border: 1px solid #CDA274;
    }
  }

  &__btns {
    display: flex;
    align-items: center;

    .podrobnee {
      padding: 4px 40px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: #232323;
      border: 1px solid #232323;
      margin-right: 40px;
      cursor: pointer;
    }
    .link {
      padding: 4px 30px;
      font-size: 16px;
      line-height: 150%;
      height: 32px;
      text-transform: lowercase;
    }
  }
}

.reshenia {
  padding-top: 40px;
  padding-bottom: 40px;

  .slick-prev:before,
  .slick-next:before {
    display: none;
  }

  &__title {
    max-width: 640px;
    margin-bottom: 65px;
    font-weight: 400;
    font-size: 74px;
    line-height: 100%;
    text-transform: lowercase;
  }
  &-slider {
    width: 100%;
    &-nav {
      display: flex;
      align-items: center;
      margin-right: 40px;
    }
    &-prev,
    &-next {
      cursor: pointer;
      fill: #fff;
      transition: fill 0.1s ease-in !important;
    }
    &-prev:hover,
    &-next:hover {
      fill: #CDA274;
    }
    &-prev {
      margin-right: 40px;
    }
  }
  &__slide {
    display: grid;
    grid-template-columns: 1fr 500px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    padding: 50px 40px 50px 60px;
    background-color: #232323;

    h4 {
      margin-bottom: 25px;
      font-weight: 400;
      font-size: 32px;
      line-height: 100%;
      text-transform: lowercase;
      color: #FFFFFF;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-bottom: 70px;
    }
    li {
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      letter-spacing: 0.01em;
      color: #FFFFFF;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .link {
      padding: 4px 30px;
      font-size: 16px;
      line-height: 150%;
      height: 32px;
      text-transform: capitalize;
    }
  }
}

.plast-ceni {
  padding-top: 25px;
  padding-bottom: 80px;
  &__title {
    max-width: 650px;
    margin-bottom: 65px;
    font-weight: 400;
    font-size: 74px;
    line-height: 100%;
    text-transform: lowercase;
  }
  .link {
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    max-width: 400px;
    letter-spacing: 0.01em;
    text-transform: none;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 85px 20px;
    margin-bottom: 75px;
  }
  &__card {
    width: 100%;
    display: flex;
    flex-direction: column;
    &-img {
      margin-bottom: 32px;
      img {
        width: 100%;
      }
    }
    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .link {
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.01em;
        text-transform: none;
        color: #232323;
        border: 1px solid #CDA274;
        background-color: transparent;
        transition: .3s ease;
      }
    }
    &-info {
      margin-right: 10px;
      h4 {
        margin-bottom: 8px;
        font-weight: 400;
        font-size: 16px;
        line-height: 116%;
        letter-spacing: 0.02em;
      }
      span {
        font-weight: 400;
        font-size: 18px;
        line-height: 116%;
      }
    }
  }
}

.vozmojnost {
  &__row {
    display: grid;
    grid-template-columns: 10fr 7fr;
  }
  &__left {
    position: relative;
    background-image: url('../img/vozmojnost/vozmojnost-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    &-bl {
      position: absolute;
      left: 0;
      bottom: 50px;
      padding: 25px 50px 70px 25px;
      background-color: #232323;
    }
    &-title {
      margin-bottom: 40px;
      max-width: 450px;
      font-weight: 400;
      font-size: 32px;
      line-height: 130%;
      color: #FFFFFF;
    }
    &-list {
      margin-left: 25px;
    }
    &-item {
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 35px;
      }
      img {
        width: 26px;
        object-fit: contain;
        margin-right: 30px;
      }
      a {
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        color: #FFFFFF;
      }
    }
  }
  &__right {
    padding: 100px 40px 120px 70px;
    background-color: #232323;
    &-list {
      max-width: 400px;
    }
    &-item {
      display: flex;
      align-items: start;
      &:not(:last-child) {
        margin-bottom: 65px;
      }
      img {
        margin-right: 20px;
        width: 50px;
        height: auto;
      }
      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: #F5F5F5;
      }
    }
  }
  &__subtitle {
    position: relative;
    margin-bottom: 25px;
    padding-left: 65px;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-transform: lowercase;
    color: #CDA274;
    &::before {
      position: absolute;
      content: '';
      width: 50px;
      height: 1px;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      background-color: #CDA274;
    }
  }
  &__title {
    margin-bottom: 80px;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    color: #FFFFFF;
  }
}

@media screen and (max-width: 1023px) {
  .row {
    padding: 0 15px;
  }
}

@media screen and (min-width: 1024px) {
  .link:hover {
    opacity: 0.7;
  }

  .raznica__btns .podrobnee:hover {
    color: #fff;
    background-color: #232323;
  }
}

@media screen and (max-width: 1440px) {
  .raznica {
    grid-template-columns: 6fr 7fr;
    column-gap: 40px;
    &__left {
      &-bl {
        bottom: 0;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .raznica {
    margin: 60px 0 40px;
    grid-template-columns: 1fr;
    row-gap: 30px;
    &__left {
      img {
        width: 100%;
        height: 500px;
      }
      &-bl {
        top: 0;
        padding: 22px 17px;
        width: 220px;
        height: 185px;
        img {
          width: 37px;
          height: 43px;
          margin-bottom: 10px;
          object-fit: contain;
        }
        p {
          font-size: 17px;
          line-height: 1.4;
        }
        span {
          font-size: 28px;
        }
      }
    }
    &__right {
      padding-top: 0px;
    }
    &__subtitle {
      margin-bottom: 20px;
      font-size: 16px;
    }
    &__title {
      margin-bottom: 20px;
      font-size: 32px;
    }
    &__text {
      p {
        font-size: 17px;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
    ul {
      gap: 10px 60px;
    }
    &__btns {
      .podrobnee {
        margin-right: 25px;
      }
    }
  }
  .reshenia {
    padding-top: 30px;
    padding-bottom: 30px;
    &__title {
      max-width: 550px;
      margin-bottom: 45px;
      font-size: 64px;
    }
    &-slider {
      &-prev {
        margin-right: 30px;
      }
    }
    &__slide {
      grid-template-columns: 4fr 3fr;
    }
    &__content {
      padding: 35px 30px 35px 30px;
      h4 {
        margin-bottom: 20px;
        font-size: 26px;
      }
      ul {
        margin-bottom: 30px;
      }
      li {
        font-size: 16px;
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }
  }
  .plast-ceni {
    padding-top: 25px;
    padding-bottom: 60px;
    &__title {
      max-width: 600px;
      margin-bottom: 45px;
      font-size: 64px;
    }
    .link {
      font-size: 16px;
    }
    &__cards {
      grid-template-columns: repeat(3, 1fr);
      gap: 65px 15px;
      margin-bottom: 55px;
    }
    &__card {
      &-img {
        margin-bottom: 24px;
      }
      &-content {
        .link {
          font-size: 15px;
          line-height: 40px;
          height: 40px;
          padding: 0 20px;
        }
      }
      &-info {
        margin-right: 10px;
        h4 {
          margin-bottom: 8px;
          font-size: 16px;
        }
        span {
          font-size: 18px;
        }
      }
    }
  }
  .vozmojnost {
    &__row {
      grid-template-columns: 5fr 4fr;
    }
    &__left {
      &-bl {
        bottom: 50px;
        padding: 25px 20px 40px 25px;
      }
      &-title {
        margin-bottom: 25px;
        max-width: 350px;
        font-size: 26px;
      }
      &-list {
        margin-left: 15px;
      }
      &-item {
        &:not(:last-child) {
          margin-bottom: 15px;
        }
        img {
          width: 22px;
          margin-right: 20px;
        }
        a {
          font-weight: 400;
          font-size: 18px;
          line-height: 130%;
          color: #FFFFFF;
        }
      }
    }
    &__right {
      padding: 70px 20px 70px 40px;
      background-color: #232323;
      &-list {
        max-width: 400px;
      }
      &-item {
        display: flex;
        align-items: start;
        &:not(:last-child) {
          margin-bottom: 35px;
        }
        img {
          margin-right: 15px;
          width: 40px;
          object-fit: cover;
        }
        p {
          font-size: 18px;
        }
      }
    }
    &__subtitle {
      margin-bottom: 20px;
      font-size: 16px;
    }
    &__title {
      margin-bottom: 50px;
      font-size: 28px;
    }
  }
}
@media screen and (max-width: 992px) {
  .reshenia {
    &__title {
      max-width: 450px;
      margin-bottom: 35px;
      font-size: 50px;
    }
  }
  .plast-ceni {
    &__title {
      max-width: 470px;
      margin-bottom: 35px;
      font-size: 50px;
    }
    &__cards {
      grid-template-columns: repeat(2, 1fr);
      gap: 55px 15px;
    }
    &__card {
      &-img {
        margin-bottom: 18px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .raznica {
    margin: 50px 0 30px;
    row-gap: 25px;
    &__left {
      img {
        height: 400px;
      }
      &-bl {
        padding: 16px 15px;
        width: 160px;
        height: 140px;
        img {
          width: 27px;
          height: 31px;
          margin-bottom: 5px;
        }
        p {
          font-size: 15px;
        }
        span {
          font-size: 22px;
        }
      }
    }
    &__subtitle {
      margin-bottom: 15px;
      font-size: 15px;
    }
    &__title {
      margin-bottom: 15px;
      font-size: 26px;
    }
    &__text {
      p {
        font-size: 16px;
        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }
    }
    ul {
      gap: 10px 20px;
    }
    li {
      font-size: 15px;
    }
  }
  .reshenia {
    &__title {
      max-width: 450px;
      margin-bottom: 35px;
    }
    &__slide {
      grid-template-columns: 1fr;
      img {
        height: 300px;
      }
    }
    &__content {
      padding: 30px 30px 30px 30px;
      h4 {
        margin-bottom: 15px;
        font-size: 22px;
      }
      ul {
        margin-bottom: 25px;
      }
      li {
        font-size: 15px;
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }
  .plast-ceni {
    padding-top: 10px;
    padding-bottom: 50px;
    &__title {
      margin-bottom: 35px;
    }
    &__cards {
      gap: 45px 15px;
      margin-bottom: 45px;
    }
    &__card {
      &-content {
        flex-direction: column;
        align-items: start;
        .link {
          margin-top: 15px;
          width: 100%;
        }
      }
      &-info {
        margin-right: 0px;
        span {
          font-size: 16px;
        }
      }
    }
  }
  .vozmojnost {
    &__row {
      grid-template-columns: 1fr;
      display: flex;
      flex-direction: column-reverse;
    }
    &__left {
      height: 350px;
      background-position: bottom;
      &-bl {
        bottom: 60px;
        padding: 25px 15px 25px 15px;
      }
      &-title {
        margin-bottom: 20px;
        font-size: 22px;
      }
      &-list {
        margin-left: 0px;
      }
      &-item {
        &:not(:last-child) {
          margin-bottom: 15px;
        }
        img {
          width: 20px;
          margin-right: 15px;
        }
        a {
          font-size: 16px;
        }
      }
    }
    &__right {
      padding: 50px 15px 35px 15px;
      &-list {
        max-width: 550px;
      }
      &-item {
        &:not(:last-child) {
          margin-bottom: 25px;
        }
        img {
          width: 30px;
        }
        p {
          font-size: 16px;
        }
      }
    }
    &__subtitle {
      margin-bottom: 15px;
      font-size: 15px;
    }
    &__title {
      margin-bottom: 35px;
      font-size: 26px;
    }
  }
}
@media screen and (max-width: 480px) {
  .raznica {
    &__left {
      img {
        height: 350px;
      }
      &-bl {
        display: flex;
        align-items: center;
        padding: 16px 20px;
        width: 100%;
        height: 80px;
        img {
          margin-bottom: 0px;
          margin-right: 15px;
        }
        span {
          line-height: 1.3;
        }
      }
    }
    ul {
      gap: 5px 0px;
      grid-template-columns: repeat(1, 1fr);
    }
    &__btns {
      flex-direction: column;
      align-items: flex-start;
      .podrobnee {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 15px;
      }
      .link {
        width: 100%;
      }
    }
  }
  .reshenia {
    &__title {
      max-width: 330px;
      margin-bottom: 25px;
      font-size: 36px;
    }
    &__slide {
      img {
        height: 200px;
      }
    }
    &__content {
      padding: 20px 15px;
      h4 {
        margin-bottom: 10px;
        font-size: 18px;
      }
      ul {
        margin-bottom: 20px;
      }
      li {
        font-size: 14px;
        &:not(:last-child) {
          margin-bottom: 6px;
        }
      }
    }
  }
  .plast-ceni {
    padding-bottom: 40px;
    &__title {
      margin-bottom: 25px;
      font-size: 36px;
    }
    &__cards {
      margin-bottom: 35px;
      row-gap: 35px;
      grid-template-columns: 1fr;
    }
    &__card {
      &-content {
        .link {
          max-width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .vozmojnost {
    &__left-bl {
      width: 100%;
    }
  }
}